/*date of creation: 12th of October, 2022
       originally created by: Cabbage Sorter*/

/* M A I N  G R I D */
html {
  margin: auto;
}

@font-face {
  font-family: "blackcasperregular";
  src: url("../assets/fonts/blackcasper-webfont.woff2") format("woff2"),
    url("../assets/fonts/blackcasper-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes glitch-h {
  0% {
    text-shadow: 0.05em 0 0 rgba(150, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(252, 248, 4, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(150, 0, 0, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(150, 0, 0, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(150, 0, 0, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(150, 0, 0, 0.75),
      0 -0.05em 0 rgba(44, 247, 213, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(150, 0, 0, 0.75),
      0.05em 0 0 rgba(252, 248, 4, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(150, 0, 0, 0.75) -0.025em -0.025em 0
        rgba(252, 248, 4, 0.75),
      -0.025em -0.05em 0 rgba(44, 247, 213, 0.75);
  }
}

@keyframes glitch-n {
  0% {
    text-shadow: 0.05em 0 0 rgb(202, 7, 7);
  }
  14% {
    text-shadow: 0.05em 0 0 rgb(233, 11, 11);
  }
  15% {
    text-shadow: -0.08em -0.025em 0 rgb(175, 9, 9);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgb(165, 6, 6);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgb(196, 8, 8);
  }
  94% {
    text-shadow: 0.065em 0.05em 0 rgb(194, 86, 36);
  }
  100% {
    text-shadow: -0.025em 0 0 rgb(206, 16, 16);
  }
}

:root {
  --background-color: black;
  --background-image: url(/assets/videos/main_static.png);
  font-family: "Courier New", Courier, monospace;
  color: #ff0f0f;
}

body {
  margin: auto;
  background-image: var(--background-image);
  background-color: var(--background-color);

  /* SET BACKROUND TO STRETCH */
  /* background-size: cover; */
}

.main {
  width: 1000px;
  margin: 0 auto;
  max-width:100%;
}

.header {
  position: relative;
  font-family: "blackcasperregular";
  font-size: x-large;
  padding: 5px;
  background-size: auto;
  text-shadow: 0.5em 0 0 rgba(150, 0, 0, 0.75),
    -0.25em -0.05em 0 rgba(252, 248, 4, 0.75),
    0.25em 0.05em 0 rgba(44, 247, 213, 0.75);
  animation: glitch-h 128ms infinite;
}

.header span {
  color: red;
  font-size: 56px;
}
.header span a {
  text-decoration: none;
  color: inherit;
}
.header span a:hover {
  font-size: 60px;
  transition: none;
}
.header span a:active {
  transition: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 700px 50px;
  grid-template-columns: 200px 800px;
  grid-gap: 0px;
}
.grid-container-right {
  top: 0;
  right: 0;
  margin-right: 25%;
}

.navbar {
  grid-column: 1 / 1;
  padding: auto;
}
.navbar h2 {
  color: red;
  animation: glitch-n 50ms infinite;
  text-align: left;
}

.main-content {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 40% 5% 25% 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  animation: glitch-n 50ms infinite;
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  text-align: center;
}
.footer a:visited {
  color: #1e9b28;
}

.inspired {
  font-size: small;
  color: red;
}
.inspired a:link {
  text-decoration: none;
  color: #48df54;
 }
.inspired a:hover {
  font-size: small;
  color: white;
  animation: glitch-h 50ms infinite;
}

/* Marquee Bottom Scroll.   */
/* Gio Was Here !!! */

.marquee-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 20px;
  font-size: large;
  border: solid rgb(255, 0, 0) 1px;
  text-align: center;
  background-color: black;
}
.marquee-child {
  display: block;
  width: 100%;
  /* width of your text div */
  height: 20px;
  /* height of your text div */
  position: absolute;
  animation: marquee 8s linear infinite; /* change 5s value to your desired speed */
}
.marquee-child:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100% /* same as your text width */
  }
}

 /* Gio Ends Here  */

.navbar li {
  list-style: square;
  margin-left: 0.2em;
  margin-top: 5px;
  text-align: left;
}
.navbar li:hover {
  color: #ffffff;
  border: #ff0f0f solid 1px;
  text-decoration: line-through;
  animation: glitch-h 180ms infinite;
  /* add a random rotation effect when hovered inshallah */
}
.navbar p {
  font-weight: bold;
}
.navbar-image {
  width: 80px;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 4vh;
  left: -30px;
}
.navbar-image-1 {
  width: 80px;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 19vh;
  left: 35px;
}

/*M A I N  C O N T E N T  G R I D*/

.page-about {
  grid-column: 1 / span 4;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.welcome {
  font-size: 22px;
  margin: 2px;
  margin-top: 8em;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.welcome h1 {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main-content-img {
  margin: 10px;
  display: flex;
  background-color: var(--background-color);
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  border: 1px solid #ce7e4b;
}
.main-content-img img {
  max-width: 100%;
}

.warning {
  background-image: URL("https://cabbagesorter.neocities.org/pics/layout-3/bg8.gif");
  grid-column: 3 / span 2;
  grid-row: 2 / 2;
  border: 1px dotted #ce7e4b;
  margin: 10px;
  padding: 10px;
}
.inner-warning {
  height: 240px;
  overflow-y: auto;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.warning-divider {
  background-image: url(https://cabbagesorter.neocities.org/pics/layout-3/divider1.gif);
  width: 100%;
  background-repeat: repeat-x;
}

.warning h3,
.contact h3 {
  color: #ce7e4b;
}
.contact {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
  padding: 10px;
  margin: 10px;
  border: 1px dotted #ce7e4b;
  background-image: url("https://cabbagesorter.neocities.org/pics/layout-3/bg8.gif");
}
.inner-contact {
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-color);
}

.button-banner {
  grid-column: 3 / span 2;
  grid-row: 3 / 3;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px dotted #ce7e4b;
  background-image: url("https://cabbagesorter.neocities.org/pics/layout-3/bg8.gif");
}
.inner-button-banner {
  height: 240px;
  overflow-y: auto;
  background-color: var(--background-color);
}

.main-content-img2 {
  border: 1px solid #ce7e4b;
  margin: 10px;
  background-color: var(--background-color);
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  display: flex;
}
.main-content-img2 img {
  max-width: 100%;
}

.page-updates {
  background-color: black;
  height: auto;
  grid-column: 1 / span 4;
  grid-row: 4 / 4;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2.5em;
  padding: 10px;
  border: 1px solid red;
}
.page-updates li {
  margin-right: 5em;
  padding: 10px;
  border-bottom: darkred 1px solid;
}
.page-updates p {
  font-weight: bold;
  padding: 5px;
}

.main-content a {
  text-decoration: none;
  color: #e7b38d;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}