html {
    max-width: 800px;
    margin: auto;
    background-image: url(https://cdn.discordapp.com/attachments/883693400006725712/946506565807128656/Untitled_Artwork.png);
}

body {
    font-family:monospace;
    height: auto;
}

#beemer_zone {
    margin: 1%;
    position: relative;
    left: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    background-color: black;
    border-style: ridge;
    text-align: center;
    color: red;
    padding: 14px;
}

#mute_button {
    position:relative;
    top: 0.8em;
    left: 0%;
    margin: 2%;
}

#main_bodybox {
    position: relative;
    background-color: black;
    height: 68vh;
    width: 50%;
    margin-top: 2em;
    margin-left: 2em;
    color: red;
    text-align: left;
    border-style: ridge;
    border-color: red;
    padding: 2%;
    overflow: scroll;
  }

#lizard_wizard {
    size: fit-content;
    border-style: ridge;
    height: 180px;
    width: 180px;  
    text-align: center;   
    border: 1px solid red; 
}

.sidebar_right {
    margin-right: 2em;
    width: 25%;
    margin-top: 1vh;
}

#sidebar_right_main {
    background-color: black;
    position: relative;
    height: 60vh;
    z-index: 2;
    color: red;
    text-align: left;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    overflow: scroll;
}

#neo_shoutout {
    bottom: 1vh;
    position: relative;
    z-index: 1;
    background-color: black;
    height: 20%;
    color: red;
    padding: 4px;
    text-align:right;
    margin-bottom: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}