html {
    background-color: black;
    margin: 2%;
}

#main_bodybox {
    margin-left: 5%;
    margin-right: 35%;
    color: red;
    text-align: center;
    border-style: ridge;
    border-color: red;
  }

#neo_shoutout {
    background-color: black;
    border-style: inset;
    border-color: red;
    border-width: 1px;
    padding: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align:right
}

.social_buttons_bottom {
    position: fixed;
    margin: 10px;
    bottom: 0;
    left: 0;
    text-align:left;
}

#beemer_zone{
    /* margin: 2%; */
    border-style: ridge;
    text-align: center;
}

#sidebar_right{
    position: fixed;
    width: 30%;
    height: 60%;
    /* padding: 1%; */
    z-index: 1;
    top: 1%;
    left: 65%;
    color: red;
    border-width: 1px;
    text-align: left;
    border-style: solid;
    border-color: red;
}