html {
    max-width: 800px;
    max-height: 600px;
    background-image: url(https://cdn.discordapp.com/attachments/883693400006725712/946506565807128656/Untitled_Artwork.png);
}

body {
    max-width: 800px;
    max-height: 600px;
    margin: 1em;
    font-family:monospace;
    /* background-color: black; */
}

#beemer_zone{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    background-color: black;
    border-style: ridge;
    text-align: center;
    color: red;
    padding: 10px;
}

#mute_button{
    position:relative; top: 1em;
    margin: 2%;
}

#main_bodybox {
    background-color: black;
    width: 34em;
    height:30em;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 34%;
    color: red;
    text-align: left;
    border-style: ridge;
    border-color: red;
    padding: 2%;
  }

#lizard_wizard {
    border-style: ridge;
    height: 180px;
    width: 180px;  
    text-align: center;   
    border: 1px solid red; 
}

#neo_shoutout_text {
    font-size: small;
    background-color: black;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

#sidebar_right{
    background-color: black;
    position: fixed;
    width: 30%;
    height: 60%;
    margin-top: 20px;
    z-index: 1;
    top: 1%;
    left: 65%;
    color: red;
    border-width: 1px;
    text-align: left;
    padding: 4px;
    border-style: solid;
    border-color: red;
}

.social_buttons_bottom {
    position: fixed;
    margin: 0.3em;
    bottom: 0;
    left: 0;
    text-align:left;
}

#neo_shoutout {
    color: red;
    padding: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    text-align:right
}